@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  --background: #fff8ea;
  --foreground: #171717;
}

@theme inline {
  --color-yellow: #fdee02;
  --color-tanjerina: #fc9900;
  --color-carot: #fc6900;
  --color-cerulean: #349df2;
  --color-sky-250: #a1caeb;
  --color-terracota: #da865e;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-fredoka: "Fredoka", "sans-serif";
  --breakpoint-xs: 352px;
  --breakpoint-2xs: 375px;
  --breakpoint-3xs: 425px;
  --breakpoint-2sm: 700px;
  --breakpoint-2md: 990px;
  --spacing-hvh: calc(100dvh - 64px);

  --spacing-input-max-w: 22rem;

  --animate-intro-opacity: intro-opacity 1s ease-in-out;
  --animate-intro-to-l: intro-to-l 0.3s ease-in-out;
}


@keyframes intro-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro-to-l {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fredoka);
}
/* ==================== custom ==================== */
main{
  background-color: var(--color-background);
}

input{
  outline-color: var(--color-tanjerina);
  transition: all 0.3s ease-in-out ;
}

  body::-webkit-scrollbar {
    width:.3rem;
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-400);
  }

