@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  --background: #fff8ea;
  --foreground: #171717;
}

@theme inline {
  --color-yellow: #fdee02;
  --color-orange: #fc9900;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-fredoka: "Fredoka", "sans-serif";
}

body {
  text-transform: capitalize;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fredoka);
}

/* ==================== custom ==================== */

.scroll-hidden::-webkit-scrollbar{
  display: none;
}