@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  --background: #fff8ea;
  --foreground: #171717;
}

@theme inline {
  --color-yellow: #fdee02;
  --color-tanjerina: #fc9900;
  --color-carot: #fc6900;
  --color-cerulean: #349df2;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-fredoka: "Fredoka", "sans-serif";
  --breakpoint-xs: 352px;
  --breakpoint-2xs: 375px;
  --breakpoint-3xs: 425px;
  --breakpoint-2sm: 700px;
  --breakpoint-2md: 990px;
  --spacing-hvh: calc(100dvh - 64px);

  --spacing-input-max-w: 22rem;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fredoka);
}
/* ==================== custom ==================== */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

:root:has(.no-scroll) {
  overflow: hidden;
}
